src/conf/xml-resources/web-services/servInscritosporSemestre/wsdl/servicioalumnosInscritosporSemestre.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="servicioalumnosInscritosporSemestre"
    targetNamespace="http://www.itorizaba.com/servicioalumnosInscritosporSemestre.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.itorizaba.com/servicioalumnosInscritosporSemestre.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://www.itorizaba.com/servicioalumnosInscritosporSemestre.xsd1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.itorizaba.com/servicioalumnosInscritosporSemestre.xsd1"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd1="http://www.itorizaba.com/servicioalumnosInscritosporSemestre.xsd1">
            <xsd:complexType name="Alumno">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="num_control" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="carrera" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="promedio" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="semestre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="direccion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="edad" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="telefono" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArregloAlumno">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="item" type="xsd1:Alumno"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="alumnosInscritosporSemestreRequest">
        <wsdl:part name="semestre" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="alumnosInscritosporSemestreResponse">
        <wsdl:part name="respuesta" type="xsd1:ArregloAlumno"/>
    </wsdl:message>
    <wsdl:portType name="servicioalumnosInscritosporSemestrePortType">
        <wsdl:operation name="alumnosInscritosporSemestre">
            <wsdl:input message="tns:alumnosInscritosporSemestreRequest"/>
            <wsdl:output message="tns:alumnosInscritosporSemestreResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
        name="servicioalumnosInscritosporSemestreBinding"
        type="tns:servicioalumnosInscritosporSemestrePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="alumnosInscritosporSemestre">
            <soap:operation
                soapAction="capeconnect:servicioalumnosInscritosporSemestre:servicioalumnosInscritosporSemestrePortType#alumnosInscritosporSemestre"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="servicioalumnosInscritosporSemestre">
        <wsdl:port
            binding="tns:servicioalumnosInscritosporSemestreBinding"
            name="servicioalumnosInscritosporSemestrePort">
            <soap:address
                location="http://localhost:8000/ccx/servicioalumnosInscritosporSemestre"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>