src/conf/xml-resources/web-service-references/servicioAlumnosInscritos/wsdl/localhost_8080/AplicacionServicio/servicioAlumnosInscritos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.itorizaba.com/servicioAlumnosInscritos.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.itorizaba.com/servicioAlumnosInscritos.xsd1" name="servicioAlumnosInscritos" targetNamespace="http://www.itorizaba.com/servicioAlumnosInscritos.wsdl">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.itorizaba.com/servicioAlumnosInscritos.xsd1" targetNamespace="http://www.itorizaba.com/servicioAlumnosInscritos.xsd1">
            <xsd:complexType name="Alumno">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="num_control" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="carrera" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="promedio" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="semestre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="direccion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="edad" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="telefono" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArregloAlumno">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="1" name="item" type="xsd1:Alumno"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="alumnosInscritosMessageResponse">
        <wsdl:part name="respuesta" type="xsd1:ArregloAlumno"/>
    </wsdl:message>
    <wsdl:message name="alumnosInscritosMessageRequest">   </wsdl:message>
    <wsdl:portType name="servicioAlumnosInscritosPortType">
        <wsdl:operation name="alumnosInscritos">
            <wsdl:input message="tns:alumnosInscritosMessageRequest"/>
            <wsdl:output message="tns:alumnosInscritosMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="servicioAlumnosInscritosBinding" type="tns:servicioAlumnosInscritosPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="alumnosInscritos">
            <soap:operation soapAction="capeconnect:servicioAlumnosInscritos:servicioAlumnosInscritosPortType#alumnosInscritos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="servicioAlumnosInscritos">
        <wsdl:port binding="tns:servicioAlumnosInscritosBinding" name="servicioAlumnosInscritosPort">
            <soap:address location="http://localhost:8080/AplicacionServicio/servicioAlumnosInscritos"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>