web/WEB-INF/wsdl/localhost_8080/AplicacionServicio/servicioObtenerDetalles.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.itorizaba.com/servicioObtenerDetalles.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.itorizaba.com/servicioObtenerDetalles.xsd1" name="servicioObtenerDetalles" targetNamespace="http://www.itorizaba.com/servicioObtenerDetalles.wsdl">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.itorizaba.com/servicioObtenerDetalles.xsd1" targetNamespace="http://www.itorizaba.com/servicioObtenerDetalles.xsd1">
            <xsd:complexType name="Alumno">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="num_control" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="carrera" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="promedio" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="semestre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="direccion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="edad" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="telefono" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="obtenerDetallesMessageRequest">
        <wsdl:part name="num_control" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtenerDetallesMessageResponse">
        <wsdl:part name="respuesta" type="xsd1:Alumno"/>
    </wsdl:message>
    <wsdl:portType name="servicioObtenerDetallesPortType">
        <wsdl:operation name="obtenerDetalles">
            <wsdl:input message="tns:obtenerDetallesMessageRequest"/>
            <wsdl:output message="tns:obtenerDetallesMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="servicioObtenerDetallesBinding" type="tns:servicioObtenerDetallesPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerDetalles">
            <soap:operation soapAction="capeconnect:servicioObtenerDetalles:servicioObtenerDetallesPortType#obtenerDetalles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="servicioObtenerDetalles">
        <wsdl:port binding="tns:servicioObtenerDetallesBinding" name="servicioObtenerDetallesPort">
            <soap:address location="http://localhost:8080/AplicacionServicio/servicioObtenerDetalles"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>