src/conf/xml-resources/web-services/servDetalles/wsdl/servicioObtenerDetalles.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="servicioObtenerDetalles"
    targetNamespace="http://www.itorizaba.com/servicioObtenerDetalles.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.itorizaba.com/servicioObtenerDetalles.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://www.itorizaba.com/servicioObtenerDetalles.xsd1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.itorizaba.com/servicioObtenerDetalles.xsd1"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd1="http://www.itorizaba.com/servicioObtenerDetalles.xsd1">
            <xsd:complexType name="Alumno">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="num_control" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="carrera" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="promedio" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="semestre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="direccion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="edad" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="telefono" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="email" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="obtenerDetallesMessageRequest">
        <wsdl:part name="num_control" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="obtenerDetallesMessageResponse">
        <wsdl:part name="respuesta" type="xsd1:Alumno"/>
    </wsdl:message>
    <wsdl:portType name="servicioObtenerDetallesPortType">
        <wsdl:operation name="obtenerDetalles">
            <wsdl:input message="tns:obtenerDetallesMessageRequest"/>
            <wsdl:output message="tns:obtenerDetallesMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding
        name="servicioObtenerDetallesBinding"
        type="tns:servicioObtenerDetallesPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="obtenerDetalles">
            <soap:operation
                soapAction="capeconnect:servicioObtenerDetalles:servicioObtenerDetallesPortType#obtenerDetalles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="servicioObtenerDetalles">
        <wsdl:port
            binding="tns:servicioObtenerDetallesBinding"
            name="servicioObtenerDetallesPort">
            <soap:address location="http://localhost:8000/ccx/servicioObtenerDetalles"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>